.profile {
  background: #ffffff;
  width: 300px;
  text-align: center;
}

.description .name {
  color: black;
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
}

.description .tag {
  color: #a9a9a9;
  font-size: 20px;
  margin-top: 5px;
}

.description .location {
  color: #a9a9a9;
  font-size: 20px;
  margin-top: 5px;
}

.description .avatar {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  object-fit: fill;
}

.stats {
  list-style: none;
  margin-top: 20px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  border: 1px solid #808080;
}

.stats li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: lightgray;
}

.stats li:not(:last-child) {
  border-right: 1px solid #808080;
}

.stats li .label {
  color: #a9a9a9;
}

.stats li .quantity {
  color: black;
  font-size: 20px;
  font-weight: 600;
}
